---
description: This is the style prompt template for the YouTube thumbnail generator.
author: Richard Collins
variables:
    - user_prompt
    - style_selector
---

# Task
- Create a YouTube thumbnail from the provided image.

# Composition Guidelines:
Use the following guidelines that have been provided by the user:
{{user_prompt}}

Make sure you follow a {{style_selector}} style.

# Output image guidelines:
- Make sure the image is in the correct size and aspect ratio for a YouTube thumbnail.
- Make sure the image is in the correct format for a YouTube thumbnail.